.app__jobtable {
  padding: 8rem 5rem;
}

.app__jobtable-name_col_header {
  width: 70%;
}

.app__jobtable-name_col_cell {
  width: 70%;
}

.app__jobtable-name_col_cell span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app__jobtable-priority_col_header {
  width: 20%;
}

.app__jobtable-priority_col_cell {
  width: 20%;
}

.app__jobtable-id_col_header {
  width: 10%;
}

.app__jobtable-id_col_cell {
  width: 10%;
}

.app__jobtable-content {
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%),
    0 18px 36px -18px rgb(0 0 0 / 30%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
}

.app__jobtable-heading {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0.2rem;
  margin: 0.5rem 0rem;
}

.app__jobtable-title {
  flex: auto;
  font-weight: 600;
}

.app__jobtable-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .app__jobtable {
    padding: 8rem 1rem;
  }

  .app__jobtable-name_col_header {
    width: auto;
  }

  .app__jobtable-name_col_cell {
    width: auto;
  }

  .app__jobtable-priority_col_header {
    width: auto;
  }

  .app__jobtable-priority_col_cell {
    width: auto;
  }

  .app__jobtable-id_col_header {
    width: auto;
  }

  .app__jobtable-id_col_cell {
    width: auto;
  }
}
